<b>Feedback Email from {{ name }}</b><br/>
<b>Email : </b> {{ email }}</b><br/>
<p style="padding-bottom: 15px;">
{{ message }}
</p>

<p>
Thanks<br/><br/>
<b style="color:brown;">Pydream.com</b>
</p>
